[submodule "sample_template/Time-and-Attendance-Management-S"]
	path = sample_template/Time-and-Attendance-Management-S
	url = https://github.com/ruchika-swain/Time-and-Attendance-Management-System.git
